@model WebShopProject.Models.ProductIndexViewModel

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Content/nouislider.min.css" rel="stylesheet" />
</head>

<div class="page-wrapper container col-xs-12">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.Hidden("sort", Model.Sort)
        @Html.HiddenFor(x => x.OldSearchParams.Title)

        <div class="search-wrapper no-padding col-sm-4 col-md-3">
            <div class="box-wrapper">
                <div class="box-header col-xs-12">
                    <h3>Category</h3>
                </div>
                <div class="box-content col-xs-12">
                    <div class="row">
                        <div class="search-holder col-sm-12">
                            <ul class="category-list text-bold">
                                <li>Category</li>
                                <li>Category</li>
                                <li>Category</li>
                                <li>Category</li>
                                <li>Category</li>
                                <li>Category</li>
                                <li>Category</li>
                                <li>Category</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-wrapper">
                <div class="box-header col-xs-12">
                    <h3>Price</h3>
                </div>
                <div class="box-content col-xs-12">
                    <div class="row">
                        <div class="search-holder col-sm-12">
                            <div id="slider"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="search-holder top-margin col-sm-12">
                            <div class="col-sm-3 filter-holder">
                                <button id="filter" class="text-bold">Filter</button>
                            </div>
                            <div class="col-sm-9 text-right">
                                <div class="price-text">
                                    <p class="text-inline price-tag">Price:</p><span class="text-bold" id="min"></span> - <span class="text-bold" id="max"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-wrapper">
                <div class="box-header col-xs-12">
                    <h3>Search</h3>
                </div>
                <div class="box-content col-xs-12">
                    <div class="row">
                        <div class="search-holder col-sm-12">
                            <div class="col-sm-4">
                                @Html.LabelFor(x => x.SearchParams.Title, new { @class = "label-text" })
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.SearchParams.Title, new { @class = "search-box form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="search-holder col-sm-12">
                            <div class="col-sm-4">
                                @Html.LabelFor(x => x.SearchParams.FormatId, new { @class = "label-text" })
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(x => x.SearchParams.FormatId, Model.Formats, "All", new { @class = "search-box form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button value="Search" name="search" type="submit">Search</button>
        </div>
    }

    <div class="col-sm-8 col-md-9">

        @foreach (var item in Model.Products)
        {
            <div class="item-wrapper col-sm-4 col-md-4">
                <div class="item-img col-sm-12">
                    <img class="img-responsive" src="http://placehold.it/350x350" />

                    <div class="item-img-menu">
                        <ul class="list-inline btn-group">
                            <li><a class="btn btn-default"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                            <li><a class="btn btn-default"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                            <li><a class="btn btn-default"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 item-content">
                    <div class="item-title">
                        <p>@Html.DisplayFor(x => item.Movie.Title)</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/Scripts/nouislider.min.js"></script>

<script>
    var slider = document.getElementById('slider');

    noUiSlider.create(slider, {
        start: [20, 80],
        connect: true,
        range: {
            'min': 0,
            'max': 100
        }
    });

    var maxValue = document.getElementById('max');
    var minValue = document.getElementById('min');

    slider.noUiSlider.on('update', function (values, handle) {

        var value = values[handle];

        if (handle) {
            maxValue.innerHTML = '$' + Math.round(value);
        }else {
            minValue.innerHTML = '$' + Math.round(value);
        }
    });
    
</script>